<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">

		<title>Star Gazer</title>
		<!--jQuery-->
		<script src="https://code.jquery.com/jquery.js"></script>
		<!--Bootstrap-->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous" defer></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous" defer></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous" defer></script>
		<!--AOS stylesheet-->
		<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
		<!--CSS-->
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
		<!--JS-->
		<script src="/assets/js/stars.js"></script>
	</head>
	<body>
		<div class="container">
			    <header>
        <div class="menu-toggler">
            <div class="bar half start"></div>
            <div class="bar"></div>
            <div class="bar half end"></div>
        </div>
        <nav class="top-nav">
            <ul class="nav-list">
                <li>
                    <a href="" class="nav-link">Saved</a>
                </li>
                <li>
                    <a href="" class="nav-link">Logout</a>
                </li>
            </ul>
        </nav>

		{{{ body }}}

		</div>
	</body>
</html>
