<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">

	<title>Star Gazer</title>
	<!--jQuery-->
	<script src="https://code.jquery.com/jquery.js"></script>
	<!--Bootstrap-->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"
		defer></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"
		defer></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"
		defer></script>
	<!--AOS stylesheet-->
	<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
	<!--CSS-->
	<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
	<!--JS-->
	<script src="/assets/js/stars.js"></script>
</head>

<body>

	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
		  <span class="navbar-toggler-icon"></span>
		</button>
		<h1 class="navbar-brand" href="#">Star Gazer</h1>
	  
		<div class="collapse navbar-collapse" id="navbarTogglerDemo03">
		  <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
			<li class="nav-item active">
			  <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
			</li>
			<li class="nav-item">
			  <a class="nav-link" href="#">Profile</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">Logout</a>
			  </li>
		  </ul>
		  
		</div>
	  </nav>
		  <div class="container">

			<h3>Search a Star</h3>
			<form class="create-form">
		  
			  <div class="form-group">
				<label for="ca">Star Name:</label>
				<input type="text" id="ca" name="name">
			  </div>
		  
			  <button type="submit">Search</button>
			</form>

	</div>
</body>

</html>