img {
  max-width: 100%;
  height: auto;
}
.card {
  width: 800px;
  margin-left: 130px;
  display: none;
}
body {
  background-image: url("../images/constellation.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.dropdown,
#navbar
 {
  color: white;
}
nav {
  background: transparent;
}

/* Start Footer */
.copyright {
  width: 100%;
  text-align: center;
  padding: 1rem 0;
  position: fixed;
  bottom: 0px;
  align-items: end;
}

.copyright p {
  font-size: 1rem;
  color: white;
}

.push {
  height: 2rem;
}
/* End Footer */

